body, html {margin: auto;
    padding: 0%;}
    
    body {background-color: #bc5f04;}

    header {margin-top: 2%;
        width: 100%;
    height: 100px;
background-color: #f6f4d2;}

#logo {
    position: absolute;
    float: left;
    padding: 1.5%;
    margin-top: 0%;
    margin-bottom:0%;
font-size: 350%;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-style: italic;
font-weight: bold;
color: #2e1f27;
line-height: 75px;
margin-left: 2%;
text-decoration: none;}

.topnav a {float: right;
    display: block;
    text-align: center;
    text-decoration: none;
align-content: center;
}

/* nav bar stylings here */

h2 {font-family: Arial, Helvetica, sans-serif;
text-align: center;
font-weight: bold;
font-size: 300%;
padding: 40px 0 20px 0;
color: #f6f4d2;}

#home-intro {text-align: center;
    padding: 10px 40px 30px 40px;
    border: 5px;
    font-family: verdana, helvetica, sans-serif;
    font-size: 150%;
    color: #2e1f27;
    line-height: 1.5em;}

.home-box-left {background-color: #f6f4d2;
    border: 5px;}