body, html {margin: auto;
    padding: 0%;}
    
    body {background-color: #bc5f04;}

    header {margin-top: 2%;
        width: 100%;
    height: 100px;
background-color: #f6f4d2;}

#logo {
    position: absolute;
    float: left;
    padding: 1.5%;
    margin-top: 0%;
    margin-bottom:0%;
font-size: 350%;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-style: italic;
font-weight: bold;
color: #2e1f27;
line-height: 75px;
margin-left: 2%;
text-decoration: none;}

