body, html {margin: auto;
    padding: 0%;}
    
    body {background-color: #bc5f04;}

    header {margin-top: 2%;
        width: 100%;
    height: 100px;
background-color: #f6f4d2;}

#logo {
    position: absolute;
    float: left;
    padding: 1.5%;
    margin-top: 0%;
    margin-bottom:0%;
font-size: 350%;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-style: italic;
font-weight: bold;
color: #2e1f27;
line-height: 75px;
margin-left: 3%;
text-decoration: none;}

#navbarSupportedContent {font-size: 100%;
letter-spacing: 2px;
line-height: 75px;
text-align: right;}

.nav-link a {float: right;
list-style-type: none;
margin-right: 20px;}

#pages a {text-decoration: none;
color: #2e1f27;}

#pages a:hover {
    border-bottom: 1px solid #bc5f04;
}

.active {
    border-bottom: 1px solid #bc5f04;
}

img {max-width: 100%;}

#slider {overflow: hidden;}

#slider figure {position: relative;
width: 500%;
margin:0%;
left: 0%;
animation: 20s slider infinite;}

#slider figure img {
    width: 33.3%;
    float: left;
}

