body, html {margin: auto;
    padding: 0%;}
    
    body {background-color: #bc5f04;}

    header {margin-top: 2%;
        width: 100%;
    height: 100px;
background-color: #f6f4d2;}

.container-fluid div {display: flex;
align-content: flex-end;
flex-direction: column;}

#logo {
    position: absolute;
    padding: 1.5%;
    margin-top: 0%;
    margin-bottom:0%;
font-size: 350%;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-style: italic;
font-weight: bold;
color: #2e1f27;
line-height: 75px;
margin-left: 2%;
text-decoration: none;}

.topnav a {
margin: 0 auto;
}

/* nav bar stylings here */

h2 {font-family: Arial, Helvetica, sans-serif;
text-align: center;
font-weight: bold;
font-size: 300%;
padding: 40px 0 20px 0;
color: #f6f4d2;}

#home-intro {text-align: center;
    padding: 10px 40px 30px 40px;
    border: 5px;
    font-family: verdana, helvetica, sans-serif;
    font-size: 150%;
    color: #f19c79;
    line-height: 1.5em;}

    /* home content styling*/

#home-cont {height: 750px;
background-color: #f6f4d2;}

#home-box-left {padding-top: 30px;
    margin-left: 1%;
width: 40%;
float: left;}

#home-box-right {padding: 30px;
margin-right: 1%;
width: 50%;
float: right;}


h3 {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: #bc5f04;
text-transform: uppercase;}

.left-heading {width: 80%;
line-height: 30px;
clear: none;
margin-top: 30px;
margin-bottom: 50px;
margin-left: 50px;
text-align: center;
color: #2e1f27;}

hr {border-top: 2px solid #f19c79;
width: 100%;
margin: 5px 0;}

.right-heading {width: 80%;
    line-height: 30px;
    clear: none;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 50px;
    text-align: center;
    color: #2e1f27;}

/* Footer */

footer {height: 150px;
}

#copy-22 {text-align: center;}

.sns {
    text-align: center;
}

.sns li {display: inline;
}

.sns i {font-size: 160%;
    float: right;
margin: 1%;
padding: 1%;
color: #f19c79;}


/*Gallery styling*/

#photos {
    clear: both;
    line-height: 0;
    column-count: 3;
}